.header{
    margin-bottom: 20px;
}



.header_item_two{
    background-color: purple;
    border: seashell 1px solid;
    color: seashell;
    font-size: 12px;
    margin-left: 400px;
    text-align: center; 
}

h4{ 
background-color: purple;
border:seashell 1px solid; 
color: seashell;
text-align: center;
}



.img-fluid{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
  margin-bottom: 20px;} 
.pic{background-color: purple;}
.para{background-color: seashell;}


.lead {
width: auto;
height: auto;
max-width: 100%;
max-height: 100%;
padding: 10px;}

@media screen and (max-width: 992px) 
{.container .header {width: 50%;} }
      
@media screen and (max-width: 600px) 
{.container .header {width: 100%;} }




.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ddcadd;
    color: white;
    text-align: center;
    height: 40px;
    border-top: 8px solid purple;
  clear: both;}

  